mirror.hlug.cn {
        tls /ssl/mirror.hlug.cn.cert.crt /ssl/mirror.hlug.cn.key
        encode zstd gzip
        handle_path /api* {
                reverse_proxy http://211.67.25.90:8080
        }

        handle {
                root * /dist/page
#               try_files {path} /index.html
                file_server
        }
}

repo.hlug.cn {
        tls /ssl/repo.hlug.cn.cert.crt /ssl/repo.hlug.cn.key
        root * /mirror
        file_server browse
        log {
        output file /log/repo.hlug.cn/access.log {
                roll_size 1gb
                roll_keep 5
                roll_keep_for 720h
                }

}

#hitokoto.hlug.cn {
#       tls /ssl/hitokoto.hlug.cn.cert.crt /ssl/hitokoto.hlug.cn.key
#       reverse_proxy http://hitokoto:80
#}
